<!-- views/users/show_qr.erb -->
<h2>QR Login</h2>
<p>Scan this QR code to log in on another device:</p>
<% @agents.each do |agent| %>
><img src="<%= h agent[:qr_url] %>" alt="QR code for <%= agent[:agent]["nickname"] %>" /></p>
  <p>Nurse/HCA Nickname: <%= agent[:agent]["nickname"] %></p>
<% end %>


