<!-- views/users/show_qr.erb -->
<h2>QR Login</h2>
<p>Scan this QR code to log in on another device:</p>
<% @agents.each do |agent| %>
  <p><img src="<%= h agent[:qr_url] %>" alt="QR code for <%= agent[:user][:nickname] %>" /></p>
<% end %>
<p><img src="<%= h @qr_url %>" alt="QR code" /></p>

