<!-- views/users/index.erb -->
<h1>Users</h1>
<p><a href="/users/new">New User</a></p>
<ul>
  <% @users.each do |u| %>
    <li>
      <a href="/users/<%= u.id %>"><%= h u.name %> (<%= h u.email %>)</a>
      <form action="/users/<%= u.id %>/delete" method="post" style="display:inline">
        <button type="submit">Delete</button>
      </form>
    </li>
  <% end %>
</ul>
